{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
</head>
{% block content %}
<p>
  <p>
    <p>

<table class="table">
  <thead>
      <tr>
<th scope="col">nombre</th>
<th scope="col">modelo</th>
<th scope="col">autor</th>
<th scope="col">precio</th>
    </tr>
</thead>

<tbody>
    <tr>
    <td>{{ object.nombre }}</td>
    <td>{{ object.modelo }}</td>
    <td>{{ object.autor }}</td>
    <td>{{ object.precio }}</td>





    </tbody>
    </table>
    <form method ="POST">
      {%csrf_token%}
      {{form.as_p}}
    <a class="btn btn-primary" href="/">Go back</a>  </form>
{%endblock%}
{% bootstrap_javascript jquery='full' %}
