<html>
<head>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

</head>
<body>
    {% block content %}

<table class ="table">



  {%for Artes in Artes_list%}
  <tr>
    <td>  {{Artes.autor}}  </td>

<td><a href ="{%url 'detail_view' Artes.id %}"> Detail </a> </td>


        {%endfor%}
        </table>

        {% endblock %}
             {% bootstrap_javascript jquery='full' %}


</body>
</html>
<h1>Art Gallery</h1>
<nav class = "navbar navbar-expand-sm navbar-#2ecc71 " style="background-color:  #d5f5e3 ;">
  <ul class="navbar-nav">


      <li class="nav-item">
        <a class="nav-link" href="register/"> Register author </a>
        </li>
            <li class="nav-item">
              <a class="nav-link" href="create/">Register item  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="list/">Published articles  </a>

                  <li class="nav-item">
                    <a class="nav-link" href="create1/"> System authors </a>
                    </li>
