

<!doctype html>
<html lang ="en">
<head>
    <meta charset ="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,maximun-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}

      <link rel="stylesheet" href="{% static 'app1/style.css' %}" type="text/css">


    <title>Art Gallery</title>
</head>
<body>
  <ul>

    {%for Artes in Arte%}


                    <h2>Gallery</h2>



       <a href ="{%url 'detail22' Artes.id %}">


         <td> {{Artes.nombre}} </td>



    {%endfor%}
    <form method ="POST">
      {%csrf_token%}
      {{form.as_p}}
      <h1> </h1>
      <h1> </h1>
    <a class="btn btn-primary" href="/">Go back</a>  </form>
</body>
</html>
